body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #eee;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
.outer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
@media screen and (min-width: 1600px) {
  .outer {
    max-width: none;
    width: 75%;
  }
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background-color: #eee;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 768px) {
  #wrap #main {
    display: inline;
    float: left;
    width: 73.33333333333333%;
    margin: 0 0.833333333333333%;
  }
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  font-weight: bold;
}
.article-inner,
.archive-article-inner,
.widget {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-radius: 3px;
}
.article-entry h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #ddd;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#header {
  height: 300px;
  position: relative;
  overflow: hidden;
}
#header:before,
#header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/banner.jpg") center #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
#header-title {
  text-align: left;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -20px;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}
#logo {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
}
#subtitle {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}
#subtitle-wrap {
  margin-top: 16px;
}
#main-nav {
  float: left;
  margin-left: -15px;
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  padding: 20px 15px;
}
.nav-icon:hover,
.main-nav-link:hover {
  opacity: 1;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  margin-right: -15px;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn:before {
  content: "\f002";
}
.local-search-popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  height: 80%;
  padding: 0;
  background: #fff;
  color: #333;
  z-index: 9999;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-radius: 5px;
}
.local-search-popup a {
  text-decoration: none;
  color: #000;
}
.local-search-popup a.search-result-title {
  font-weight: bold;
}
.local-search-popup ul.search-result-list {
  padding: 0;
  margin: 0 5px;
  list-style: circle;
}
.local-search-popup li {
  padding: 5px;
  margin: 5px;
}
.local-search-popup p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
.local-search-popup .search-keyword {
  font-weight: bold;
  color: #f00;
}
.local-search-popup .local-search-header {
  padding: 5px;
  height: 36px;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.local-search-popup #local-search-result {
  overflow: auto;
  position: relative;
  padding: 5px 25px;
  height: calc(100% - 55px);
}
.local-search-popup .local-search-input-wrapper {
  display: inline-block;
  position: absolute;
  width: calc(100% - 90px);
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
}
.local-search-popup .local-search-input-wrapper input {
  padding: 8px 0;
  height: 20px;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  vertical-align: middle;
}
.local-search-popup #nav-inner-icon,
.local-search-popup .popup-btn-close {
  display: inline-block;
  line-height: 36px;
  text-align: center;
  color: #999;
  height: 36px;
  width: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.local-search-popup #nav-inner-icon:before {
  font-family: FontAwesome;
  content: '\f002';
}
.local-search-popup .popup-btn-close {
  border-left: 1px solid #eee;
  float: right;
  cursor: pointer;
}
.local-search-popup .popup-btn-close:before {
  font-family: FontAwesome;
  content: '\f00d';
}
.local-search-popup #no-result {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ccc;
}
.local-search-popup #no-result:before {
  font-family: FontAwesome;
  content: '\f119';
  font-size: 5em;
}
@media (max-width: 767px) {
  .local-search-popup {
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.article {
  margin: 50px 0;
}
.article-inner {
  overflow: hidden;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.index-meta {
  text-align: center;
  padding: 20px 0 20px;
}
.index-meta a,
.index-meta div {
  display: inline;
  float: none;
}
.index-header,
.article-more-link {
  text-align: center;
}
.index-header {
  margin-top: 20px;
}
.article-date {
  float: left;
}
.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  text-shadow: 0 1px #fff;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  margin: 0 12px 1em;
}
.article-header {
  padding: 20px 20px 0;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #121212;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #258fb8;
}
.post-count {
  margin-top: 1.6em;
  margin-left: 2px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.post-count .count-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 4px 20px 4px 0;
}
.post-count #update-time:before {
  content: "\f274";
  font-family: FontAwesome;
}
.post-count #word-count:before {
  content: "\f1c2";
  font-family: FontAwesome;
}
.post-count #read-time:before {
  content: "\f017";
  font-family: FontAwesome;
}
.post-count .leancloud_visitors:before {
  content: "\f06e";
  font-family: FontAwesome;
}
.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1px 3px;
}
.article-entry {
  color: #121212;
  padding: 0 20px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry blockquote p {
  margin: 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry a {
  color: #258fb8;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry td footer {
  font-size: 14px;
  margin: 1.6em 0;
  font-family: font-sans;
}
.article-entry td footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  color: #fff;
  background: #258fb8;
  text-shadow: 0 1px #1e7293;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: underline;
  text-shadow: 0 1px #1e7293;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #555;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #999;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  font-weight: bold;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #258fb8;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  width: 200px;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px font-sans;
  padding: 0 15px;
  color: #555;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #eee;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-qq,
.article-share-weibo,
.article-share-twitter,
.article-share-linkedin {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-qq:before,
.article-share-weibo:before,
.article-share-twitter:before,
.article-share-linkedin:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-qq:hover,
.article-share-weibo:hover,
.article-share-twitter:hover,
.article-share-linkedin:hover {
  color: #fff;
}
.article-share-qq:before {
  content: "\f1d6";
}
.article-share-qq:hover {
  background: #6cf;
  text-shadow: 0 1px #1fb4ff;
}
.article-share-weibo:before {
  content: "\f18a";
}
.article-share-weibo:hover {
  background: #dc143c;
  text-shadow: 0 1px #2f477a;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #a21a1f;
}
.article-share-linkedin:before {
  content: "\f0e1";
}
.article-share-linkedin:hover {
  background: #0077b5;
  text-shadow: 0 1px #005f91;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.archives-wrap {
  margin: 50px 0;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.archive-article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  min-width: 250px;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
  height: 54px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #258fb8;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
  width: 100%;
}
#page-nav {
  margin: 50px auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 15px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #999;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #555;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  background: #262a30;
  padding: 50px 0;
  color: #999;
  position: sticky;
  top: 100%;
}
#footer a {
  color: #258fb8;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  background: #fafafa;
  margin: 0;
  padding: 0 1em;
  overflow: auto;
  color: #383a42;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
}
.article-entry code {
  margin: 0 2px;
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 0.9em;
  background-color: #f6f6f6;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .code-area:before {
  display: block;
  content: ' ';
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f6f6f6;
  padding: 0 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.article-entry .code-area:after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #ff5f56;
  width: 12px;
  height: 12px;
  top: 0;
  left: 12px;
  margin-top: 12px;
  -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
  -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
  box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
}
.article-entry .code-area .fa-copy {
  position: absolute;
  right: 1em;
  line-height: 32px;
}
.article-entry .code-area .fa-copy:before {
  content: "\f24d";
  font-family: FontAwesome;
  font-size: 1em;
}
.article-entry .code-area .fa-copy:hover {
  cursor: pointer;
}
.article-entry .code-area .code_lang {
  text-align: right;
  position: relative;
  right: 2.5em;
  line-height: 32px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
.article-entry .code-area .codecopy_notice {
  position: absolute;
  top: 0.7rem;
  right: 6px;
  z-index: 1;
  filter: invert(50%);
  opacity: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0.5em 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .highlight .comment,
.article-entry .highlight .quote {
  color: #a0a1a7;
}
.article-entry .highlight .doctag,
.article-entry .highlight .keyword,
.article-entry .highlight .formula {
  color: #a626a4;
}
.article-entry .highlight .section,
.article-entry .highlight .name,
.article-entry .highlight .selector-tag,
.article-entry .highlight .deletion,
.article-entry .highlight .subst {
  color: #e45649;
}
.article-entry .highlight .literal {
  color: #0184bb;
}
.article-entry .highlight .string,
.article-entry .highlight .regexp,
.article-entry .highlight .addition,
.article-entry .highlight .attribute,
.article-entry .highlight .meta .string {
  color: #50a14f;
}
.article-entry .highlight .attr,
.article-entry .highlight .variable,
.article-entry .highlight .template-variable,
.article-entry .highlight .type,
.article-entry .highlight .selector-class,
.article-entry .highlight .selector-attr,
.article-entry .highlight .selector-pseudo,
.article-entry .highlight .number {
  color: #986801;
}
.article-entry .highlight .symbol,
.article-entry .highlight .bullet,
.article-entry .highlight .link,
.article-entry .highlight .meta,
.article-entry .highlight .selector-id,
.article-entry .highlight .title {
  color: #4078f2;
}
.article-entry .highlight .built_in,
.article-entry .highlight .title.class_,
.article-entry .highlight .class .title {
  color: #c18401;
}
.article-entry .highlight .emphasis {
  font-style: italic;
}
.article-entry .highlight .strong {
  font-weight: bold;
}
.article-entry .highlight .link {
  text-decoration: underline;
}
.dark-theme .article-entry pre,
.dark-theme .article-entry .highlight {
  color: #abb2bf;
  background: #2d2d2d;
}
.dark-theme .article-entry .highlight .comment,
.dark-theme .article-entry .highlight .quote {
  color: #5c6370;
}
.dark-theme .article-entry .highlight .doctag,
.dark-theme .article-entry .highlight .keyword,
.dark-theme .article-entry .highlight .formula {
  color: #c678dd;
}
.dark-theme .article-entry .highlight .section,
.dark-theme .article-entry .highlight .name,
.dark-theme .article-entry .highlight .selector-tag,
.dark-theme .article-entry .highlight .deletion,
.dark-theme .article-entry .highlight .subst {
  color: #e06c75;
}
.dark-theme .article-entry .highlight .literal {
  color: #56b6c2;
}
.dark-theme .article-entry .highlight .string .string,
.dark-theme .article-entry .highlight .regexp .string,
.dark-theme .article-entry .highlight .addition .string,
.dark-theme .article-entry .highlight .attribute .string,
.dark-theme .article-entry .highlight .meta .string {
  color: #98c379;
}
.dark-theme .article-entry .highlight .attr,
.dark-theme .article-entry .highlight .variable,
.dark-theme .article-entry .highlight .template-variable,
.dark-theme .article-entry .highlight .type,
.dark-theme .article-entry .highlight .selector-class,
.dark-theme .article-entry .highlight .selector-attr,
.dark-theme .article-entry .highlight .selector-pseudo,
.dark-theme .article-entry .highlight .number {
  color: #d19a66;
}
.dark-theme .article-entry .highlight .symbol,
.dark-theme .article-entry .highlight .bullet,
.dark-theme .article-entry .highlight .link,
.dark-theme .article-entry .highlight .meta,
.dark-theme .article-entry .highlight .selector-id,
.dark-theme .article-entry .highlight .title {
  color: #61aeee;
}
.dark-theme .article-entry .highlight .built_in .title,
.dark-theme .article-entry .highlight .title.class_ .title,
.dark-theme .article-entry .highlight .class .title {
  color: #e6c07b;
}
.dark-theme .article-entry .highlight .emphasis {
  font-style: italic;
}
.dark-theme .article-entry .highlight .strong {
  font-weight: bold;
}
.dark-theme .article-entry .highlight .link {
  text-decoration: underline;
}
.mermaid {
  background: transparent !important;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 30px 20px 0 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border-radius: 3px;
  margin: 50px 0;
}
@media screen and (min-width: 1600px) {
  #comments {
    padding: 40px;
  }
}
#comments a {
  color: #258fb8;
}
#comments p {
  margin: 0.8em 0;
}
#comments.microblog .vpanel {
  display: none;
}
.v {
  font-size: 16px;
  text-align: left;
}
.v * {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.75;
}
.v .vsys,
.vtime {
  color: #b3b3b3;
}
.v .text-right {
  text-align: right;
}
.v .text-center {
  text-align: center;
}
.v img {
  max-width: 100%;
  border: none;
}
.v hr {
  margin: 0.825em 0;
  border-color: #f6f6f6;
  border-style: dashed;
}
.v.hide-avatar .vimg {
  display: none;
}
.v p {
  margin: 0.8em 0;
}
.v code,
.v pre {
  background-color: #f8f8f8;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
}
.v pre {
  padding: 10px;
  overflow: auto;
  line-height: 1.45;
  border: 0;
}
.v pre code {
  color: #000;
  padding: 0;
  background: transparent;
  white-space: pre-wrap;
  word-break: keep-all;
}
.v blockquote {
  color: #666;
  margin: 0.5em 0;
  padding: 0 0 0 1em;
  border-left: 8px solid rgba(237,237,237,0.5);
}
.v .vinput {
  border: none;
  resize: none;
  outline: none;
  padding: 10px 5px;
  max-width: 100%;
  font-size: 0.775em;
}
.v input[type=checkbox],
.v input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
.v .vicon {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  fill: #555;
  vertical-align: middle;
}
.v .vicon+.vicon {
  margin-left: 10px;
}
.v .vicon.actived {
  fill: #66b1ff;
}
.v .vrow {
  font-size: 0;
  padding: 10px 0;
}
.v .vcol {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.v .vrow .vcol-20 {
  width: 20%;
}
.v .vrow .vcol-30 {
  width: 30%;
}
.v .vrow .vcol-40 {
  width: 40%;
}
.v .vrow .vcol-50 {
  width: 50%;
}
.v .vrow .vcol-60 {
  width: 60%;
}
.v .vrow .vcol-70 {
  width: 70%;
}
.v .vrow .vcol-80 {
  width: 80%;
}
.v .vrow .vcol.vctrl {
  font-size: 12px;
}
.v .emoji,
.v .vemoji {
  max-width: 25px;
  vertical-align: middle;
  margin: 0 1px;
  display: inline-block;
}
.v .vwrap {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
}
.v .vwrap input {
  background: transparent;
}
.v .vwrap .vedit {
  position: relative;
  padding-top: 10px;
}
.v .vwrap .cancel-reply-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.v .vwrap .vemojis {
  display: none;
  font-size: 18px;
  max-height: 145px;
  overflow: auto;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 0 1px #f0f0f0;
  -webkit-box-shadow: 0 0 1px #f0f0f0;
  box-shadow: 0 0 1px #f0f0f0;
}
.v .vwrap .vemojis i {
  font-style: normal;
  padding-top: 7px;
  width: 36px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.v .vwrap .vpreview {
  padding: 7px;
  -webkit-box-shadow: 0 0 1px #f0f0f0;
  -webkit-box-shadow: 0 0 1px #f0f0f0;
  box-shadow: 0 0 1px #f0f0f0;
}
.v .vwrap .vheader .vinput {
  width: 33.33%;
  border-bottom: 1px dashed #dedede;
}
.v .vwrap .vheader.item2 .vinput {
  width: 50%;
}
.v .vwrap .vheader.item1 .vinput {
  width: 100%;
}
.v .vwrap .vheader .vinput:focus {
  border-bottom-color: #eb5055;
}
@media screen and (max-width: 520px) {
  .v .vwrap .vheader.item2 .vinput,
  .v .vwrap .vheader .vinput {
    width: 100%;
  }
}
.v .vpower {
  color: #999;
  font-size: 0.75em;
  padding: 0.5em 0;
}
.v .vpower a {
  font-size: 0.75em;
}
.v .vcount {
  padding: 5px;
  font-weight: 600;
  font-size: 1.25em;
}
.v ol,
.v ul {
  padding: 0;
  margin-left: 1.25em;
}
.v .txt-center {
  text-align: center;
}
.v .txt-right {
  text-align: right;
}
.v .pd5 {
  padding: 5px;
}
.v .pd10 {
  padding: 10px;
}
.v .veditor {
  width: 100%;
  min-height: 8.75em;
  font-size: 0.875em;
  background: transparent;
  resize: vertical;
  -webkit-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.v .vbtn {
  -webkit-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  color: #555;
  border: 1px solid #ededed;
  border-radius: 0.3em;
  display: inline-block;
  background: transparent;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.5em 1.25em;
  font-size: 0.875em;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.v .vbtn+.vbtn {
  margin-left: 1.25em;
}
.v .vbtn:active,
.v .vbtn:hover {
  color: #3090e4;
  border-color: #3090e4;
}
.v .vbtn:disabled {
  border-color: #e1e1e1;
  color: #e1e1e1;
  background-color: #fdfafa;
  cursor: not-allowed;
}
.v .vempty {
  padding: 1.25em;
  text-align: center;
  color: #555;
  overflow: auto;
}
.v .vsys {
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 0.75em;
  border-radius: 0.2em;
  margin-right: 0.3em;
}
@media screen and (max-width: 520px) {
  .v .vsys {
    display: none;
  }
}
.v .vcards {
  width: 100%;
}
.vcard {
  padding-top: 1.25em;
  position: relative;
  display: block;
}
.v .vcard:after {
  content: "";
  clear: both;
  display: block;
}
.vimg {
  width: 3.125em;
  height: 3.125em;
  float: left;
  border-radius: 50%;
  margin-right: 0.7525em !important;
  border: 1px solid #f5f5f5;
  padding: 0.125em;
}
@media screen and (max-width: 720px) {
  .vimg {
    width: 2.5em;
    height: 2.5em;
  }
}
.v .vcard .vhead {
  line-height: 1.5;
  margin-top: 0;
}
.v .vcard .vhead .vnick {
  position: relative;
  font-size: 0.875em;
  font-weight: 500;
  margin-right: 0.875em;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.v .vcard .vhead .vnick:hover {
  color: #d7191a;
}
.vh {
  overflow: hidden;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed #000;
}
.vtime {
  font-size: 0.75em;
  margin-right: 0.875em;
}
.v .vh .vmeta {
  line-height: 1;
  position: relative;
}
.v .vcard .vh .vmeta .vat {
  font-size: 0.8125em;
  color: #ef2f11;
  cursor: pointer;
  float: right;
}
.v .vcard:last-child .vh {
  border-bottom: none;
}
.v .vcard .vcontent {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 0.875em;
  line-height: 2;
  position: relative;
  margin-bottom: 0.75em;
  padding-top: 0.625em;
}
.v .vcard .vquote {
  padding-left: 1em;
  border-left: 1px dashed rgba(237,237,237,0.5);
}
.v .vcard .vquote .vimg {
  width: 2.225em;
  height: 2.225em;
}
.v .vpage .vmore {
  margin: 1em 0;
}
.v .clear {
  content: "";
  display: block;
  clear: both;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
.v .vspinner {
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 6px double #a0a0a0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: relative;
  vertical-align: middle;
  margin: 0 5px;
}
.comment-from {
  color: #258fb8 !important;
}
.comment-text {
  margin: 10px 0 0 0;
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-moz-keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
@-webkit-keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
@-o-keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
@keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.333333333333332%;
    margin: 0 0.833333333333333%;
  }
}
@media screen and (min-width: 1600px) {
  #sidebar {
    max-width: 285px;
  }
}
.widget-wrap {
  margin: 50px 0;
}
.widget {
  color: #000;
  padding: 15px;
}
.widget a {
  text-decoration: none;
  color: #000;
}
.widget a:hover {
  color: #258fb8;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 1em;
}
.widget ul,
.widget ol {
  list-style: none;
  line-height: 1.8rem;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  line-height: 1.8rem;
  margin: 0 1em;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  line-height: 2;
}
.tagcloud a {
  margin: 0 10px 20px;
  display: inline-block;
  border-bottom: 1px solid #999;
  word-wrap: break-word;
}
.oneword-refresh {
  cursor: pointer;
  border: 0px;
  background: #eee;
  position: relative;
  float: right;
  bottom: 2em;
  margin-right: 5px;
}
.oneword-refresh:before {
  content: "\f021";
  font-family: FontAwesome;
  font-size: 1em;
}
.toc-list {
  padding: 0 !important;
}
#menu-wrap.toc-fixed {
  position: fixed;
  top: calc(1em - 50px);
  margin-right: 20px;
  width: 23%;
  max-width: 285px;
}
#menu-wrap.toc-fixed-phone {
  position: fixed;
  border: 1px solid #a9a9a9;
  top: 10%;
  right: 0;
  width: 40%;
  min-width: 200px;
  max-width: 240px;
  background: #191919;
}
#menu-wrap.toc-fixed-phone .widget-title {
  margin: 1em;
  color: #fff;
}
#menu-wrap .menu-box {
  position: relative;
  overflow: hidden;
}
#menu-wrap .menu-box .is-active-link {
  color: #258fb8;
}
#menu-wrap .menu-box .toc-link:before {
  display: none !important;
}
#dark-btn,
#go-page-front,
#menu-nav {
  border: none;
  background: #f9f9f9;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 60px;
  right: -2px;
  width: 40px;
  position: fixed;
  z-index: 1;
}
#dark-btn {
  padding: 12px 17px 12px 13px;
}
#dark-btn:before {
  content: "\f185";
  font-family: FontAwesome;
  font-size: 14px;
}
#go-page-front {
  padding: 12px 15px;
  bottom: 14px;
  display: none;
}
#go-page-front:before {
  content: "\f102";
  font-family: FontAwesome;
  font-size: 14px;
}
#menu-nav {
  bottom: 106px;
  padding: 12px 15px;
}
#menu-nav:before {
  content: "\f0c9";
  font-family: FontAwesome;
  font-size: 14px;
}
@media screen and (min-width: 1600px) {
  .article-inner {
    padding: 20px;
  }
}
blockquote {
  color: #646464;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 15px;
  padding-right: 10px;
  border-left: 3px solid #ccc;
}
.tip {
  background: #eee;
  padding: 8px 20px;
  border-left: 3px solid #38a3fd;
  border-radius: 0 5px 5px 0;
  margin-bottom: 10px;
}
.tip p {
  margin: 5px 0 !important;
}
.tip:before {
  background: #38a3fd;
  border-radius: 50%;
  color: #fff;
  content: "i";
  font-family: Dosis, "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  height: 21px;
  line-height: 21px;
  margin-left: -32px;
  position: absolute;
  text-align: center;
  width: 21px;
}
.tip ol {
  margin: 0;
}
.tip.share {
  border-left-color: #ddd;
}
.tip.share:before {
  background: #ddd;
  content: "\0040";
}
.tip.success {
  border-left-color: #86cc00;
}
.tip.success:before {
  background: #86cc00;
  content: "\221a";
}
.tip.warning {
  border-left-color: #ff7800;
}
.tip.warning:before {
  background: #ff7800;
  content: "\0021";
}
.tip.error {
  border-left-color: #ed0000;
}
.tip.error:before {
  background: #ed0000;
  content: "\00D7";
}
.dark-theme body,
.dark-theme #wrap {
  background-color: #191919;
}
.dark-theme .widget {
  background-color: #212121;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #aaa;
  border: 0;
}
.dark-theme .widget a {
  color: #aaa;
}
.dark-theme .oneword-refresh {
  background-color: #191919;
  color: #aaa;
}
.dark-theme #dark-btn,
.dark-theme #go-page-front,
.dark-theme #menu-nav {
  background-color: #252525;
  color: #aaa;
}
.dark-theme #dark-btn {
  padding: 12px 15px;
}
.dark-theme #dark-btn:before {
  content: '\f186';
}
.dark-theme .widget-title,
.dark-theme .article-category,
.dark-theme .article-date,
.dark-theme .article-category-link {
  text-shadow: none;
  color: #aaa !important;
}
.dark-theme .article-inner,
.dark-theme .archive-article-inner,
.dark-theme #page-nav {
  background-color: #212121;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #aaa;
}
.dark-theme .article-inner .tags a,
.dark-theme .archive-article-inner .tags a,
.dark-theme #page-nav .tags a {
  color: #aaa;
}
.dark-theme .article-inner .friend-all a,
.dark-theme .archive-article-inner .friend-all a,
.dark-theme #page-nav .friend-all a {
  color: #aaa;
}
.dark-theme .article-inner .friend-card,
.dark-theme .archive-article-inner .friend-card,
.dark-theme #page-nav .friend-card {
  border: thin solid #aaa;
}
.dark-theme .article-inner .friend-card:hover,
.dark-theme .archive-article-inner .friend-card:hover,
.dark-theme #page-nav .friend-card:hover {
  background-color: #353535;
}
.dark-theme .article-inner .current,
.dark-theme .archive-article-inner .current,
.dark-theme #page-nav .current {
  color: #ccc;
}
.dark-theme .article-title,
.dark-theme .archive-article-title {
  color: #aaa;
}
.dark-theme .article-entry {
  color: #aaa;
}
.dark-theme .article-entry code,
.dark-theme .article-entry .tip {
  background-color: #353535;
}
.dark-theme .article-entry .code-area:before {
  background-color: #353535;
}
.dark-theme #comments {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-color: #212121;
}
.dark-theme .v pre code {
  color: #aaa;
}
.dark-theme .v pre,
.dark-theme .v code {
  background-color: #353535;
}
.dark-theme .v .vat {
  color: #aaa;
}
.dark-theme .v .vwrap .vinput {
  color: #aaa;
}
.dark-theme .vcard .vh {
  border-bottom: 1px dashed #fff;
}
.dark-theme #banner {
  background: url("images/banner-dark.jpg") center #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.dark-theme #footer {
  background: #252525;
}
.dark-theme .local-search-popup {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #212121;
  line-height: normal;
}
.dark-theme .local-search-popup a,
.dark-theme .local-search-popup #no-result,
.dark-theme .local-search-popup ul.search-result-list {
  color: #aaa;
}
.dark-theme .local-search-popup .search-keyword {
  color: #6cf;
}
