<% if (site.categories.length && !is_page()){ %>
<div class="widget-wrap">
  <h3 class="widget-title"><%= __('categories') %></h3>
  <div class="widget">
    <%- list_categories({orderby: 'length', order: -1}) %>
  </div>
</div>
<% } %>
