<div class="widget-wrap">
  <h3 class="widget-title"><%= __('oneword') %></h3>
  <button class="oneword-refresh" onclick="refresh()"></button>
  <div class="widget">
    <p id="hitokoto">:D 获取中...</p>
    <p style="text-align: right">—— 「<span id="from-work">:D 获取中...</span>」</p>
    <script>
      if (sessionStorage.getItem("word") !== null && sessionStorage.getItem("word") !== 'undefined'){
        document.getElementById('hitokoto').innerText = sessionStorage.getItem("word");
        document.getElementById('from-work').innerText = sessionStorage.getItem("work");
      }
    </script>
  </div>
</div>
