#comments
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  padding: article-padding
  @media mq-wide
    padding: 40px
  border-radius: 3px
  margin: block-margin 0
  a
    color: color-link
  p
    margin: .8em 0

#comments.microblog
  .vpanel
    display: none

.v {
    font-size: 16px;
    text-align: left
}

.v * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.75
}

.v .vsys,
.vtime {
    color: #b3b3b3
}

.v .text-right {
    text-align: right
}

.v .text-center {
    text-align: center
}

.v img {
    max-width: 100%;
    border: none
}

.v hr {
    margin: .825em 0;
    border-color: #f6f6f6;
    border-style: dashed
}

.v.hide-avatar .vimg {
    display: none
}

.v p {
    margin: .8em 0
}

.v code,
.v pre {
    background-color: #f8f8f8;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: 85%;
    margin: 0
}

.v pre {
    padding: 10px;
    overflow: auto;
    line-height: 1.45;
    border: 0;
}

.v pre code {
    color: #000
    padding: 0;
    background: transparent;
    white-space: pre-wrap;
    word-break: keep-all
}

.v blockquote {
    color: #666;
    margin: .5em 0;
    padding: 0 0 0 1em;
    border-left: 8px solid hsla(0, 0%, 93%, .5)
}

.v .vinput {
    border: none;
    resize: none;
    outline: none;
    padding: 10px 5px;
    max-width: 100%;
    font-size: .775em
}

.v input[type=checkbox],
.v input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px
}

.v .vicon {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    fill: #555;
    vertical-align: middle
}

.v .vicon+.vicon {
    margin-left: 10px
}

.v .vicon.actived {
    fill: #66b1ff
}

.v .vrow {
    font-size: 0;
    padding: 10px 0
}

.v .vcol {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px
}

.v .vrow .vcol-20 {
    width: 20%
}

.v .vrow .vcol-30 {
    width: 30%
}

.v .vrow .vcol-40 {
    width: 40%
}

.v .vrow .vcol-50 {
    width: 50%
}

.v .vrow .vcol-60 {
    width: 60%
}

.v .vrow .vcol-70 {
    width: 70%
}

.v .vrow .vcol-80 {
    width: 80%
}

.v .vrow .vcol.vctrl {
    font-size: 12px
}

.v .emoji,
.v .vemoji {
    max-width: 25px;
    vertical-align: middle;
    margin: 0 1px;
    display: inline-block
}

.v .vwrap {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px
}

.v .vwrap input {
    background: transparent
}

.v .vwrap .vedit {
    position: relative;
    padding-top: 10px
}

.v .vwrap .cancel-reply-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer
}

.v .vwrap .vemojis {
    display: none;
    font-size: 18px;
    max-height: 145px;
    overflow: auto;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 0 1px #f0f0f0;
    box-shadow: 0 0 1px #f0f0f0
}

.v .vwrap .vemojis i {
    font-style: normal;
    padding-top: 7px;
    width: 36px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: middle
}

.v .vwrap .vpreview {
    padding: 7px;
    -webkit-box-shadow: 0 0 1px #f0f0f0;
    box-shadow: 0 0 1px #f0f0f0
}

.v .vwrap .vheader .vinput {
    width: 33.33%;
    border-bottom: 1px dashed #dedede
}

.v .vwrap .vheader.item2 .vinput {
    width: 50%
}

.v .vwrap .vheader.item1 .vinput {
    width: 100%
}

.v .vwrap .vheader .vinput:focus {
    border-bottom-color: #eb5055
}

@media screen and (max-width:520px) {

    .v .vwrap .vheader.item2 .vinput,
    .v .vwrap .vheader .vinput {
        width: 100%
    }
}

.v .vpower {
    color: #999;
    font-size: .75em;
    padding: .5em 0
}

.v .vpower a {
    font-size: .75em
}

.v .vcount {
    padding: 5px;
    font-weight: 600;
    font-size: 1.25em
}

.v ol,
.v ul {
    padding: 0;
    margin-left: 1.25em
}

.v .txt-center {
    text-align: center
}

.v .txt-right {
    text-align: right
}

.v .pd5 {
    padding: 5px
}

.v .pd10 {
    padding: 10px
}

.v .veditor {
    width: 100%;
    min-height: 8.75em;
    font-size: .875em;
    background: transparent;
    resize: vertical;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.v .vbtn {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    text-align: center;
    color: #555;
    border: 1px solid #ededed;
    border-radius: .3em;
    display: inline-block;
    background: transparent;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: .5em 1.25em;
    font-size: .875em;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none
}

.v .vbtn+.vbtn {
    margin-left: 1.25em
}

.v .vbtn:active,
.v .vbtn:hover {
    color: #3090e4;
    border-color: #3090e4
}

.v .vbtn:disabled {
    border-color: #e1e1e1;
    color: #e1e1e1;
    background-color: #fdfafa;
    cursor: not-allowed
}

.v .vempty {
    padding: 1.25em;
    text-align: center;
    color: #555;
    overflow: auto
}

.v .vsys {
    display: inline-block;
    padding: .2em .5em;
    font-size: .75em;
    border-radius: .2em;
    margin-right: .3em
}

@media screen and (max-width:520px) {
    .v .vsys {
        display: none
    }
}

.v .vcards {
    width: 100%
}

.vcard {
    padding-top: 1.25em;
    position: relative;
    display: block
}

.v .vcard:after {
    content: "";
    clear: both;
    display: block
}

.vimg {
    width: 3.125em;
    height: 3.125em;
    float: left;
    border-radius: 50%;
    margin-right: .7525em !important;
    border: 1px solid #f5f5f5;
    padding: .125em
}

@media screen and (max-width:720px) {
    .vimg {
        width: 2.5em;
        height: 2.5em
    }
}

.v .vcard .vhead {
    line-height: 1.5;
    margin-top: 0
}

.v .vcard .vhead .vnick {
    position: relative;
    font-size: .875em;
    font-weight: 500;
    margin-right: .875em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block
}

.v .vcard .vhead .vnick:hover {
    color: #d7191a
}

.vh {
    overflow: hidden;
    padding-bottom: .5em;
    border-bottom: 1px dashed #000
}

.vtime {
    font-size: .75em;
    margin-right: .875em
}

.v .vh .vmeta {
    line-height: 1;
    position: relative
}

.v .vcard .vh .vmeta .vat {
    font-size: .8125em;
    color: #ef2f11;
    cursor: pointer;
    float: right
}

.v .vcard:last-child .vh {
    border-bottom: none
}

.v .vcard .vcontent {
    word-wrap: break-word;
    word-break: break-all;
    font-size: .875em;
    line-height: 2;
    position: relative;
    margin-bottom: .75em;
    padding-top: .625em
}

.v .vcard .vquote {
    padding-left: 1em;
    border-left: 1px dashed hsla(0, 0%, 93%, .5)
}

.v .vcard .vquote .vimg {
    width: 2.225em;
    height: 2.225em
}

.v .vpage .vmore {
    margin: 1em 0
}

.v .clear {
    content: "";
    display: block;
    clear: both
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes pulse {
    50% {
        background: #dcdcdc
    }
}

@keyframes pulse {
    50% {
        background: #dcdcdc
    }
}

.v .vspinner {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 6px double #a0a0a0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    position: relative;
    vertical-align: middle;
    margin: 0 5px
}

.comment-from
    color: #258fb8 !important

.comment-text
    margin: 10px 0 0 0