#sidebar
  @media mq-normal
    column(sidebar-column)
  @media mq-wide
    max-width: 285px;

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  @extend $block
  color: #000
  padding: 15px
  a
    text-decoration: none
    color: #000
    &:hover
      color: color-link

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  font-size: 1em
  ul, ol
    list-style: none
    line-height: 1.8rem
    margin: 0
    ul, ol
      line-height: 1.8rem
      margin: 0 1em

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.tagcloud
  box-shadow: none
  text-align: center
  line-height: 2
  a
    margin: 0 10px 20px
    display: inline-block
    border-bottom: 1px solid #999;
    word-wrap: break-word;

.oneword-refresh
  cursor: pointer
  border: 0px
  background: #eee
  position: relative
  float: right
  bottom: 2em
  margin-right: 5px
  &:before
    content: "\f021"
    font-family: font-icon
    font-size: 1em

.toc-list
  padding: 0 !important
#menu-wrap.toc-fixed
  position: fixed
  top: calc(1em - 50px)
  margin-right: 20px
  width: 23%
  max-width: 285px
#menu-wrap.toc-fixed-phone
  position: fixed
  border: 1px solid darkgrey;
  top: 10%
  right: 0
  width: 40%
  min-width: 200px
  max-width: 240px
  background: #191919
  .widget-title
    margin: 1em
    color: #fff
#menu-wrap 
  .menu-box
    position: relative
    overflow: hidden
    .is-active-link
      color: #258fb8
    .toc-link
      &:before
        display: none !important

#dark-btn,#go-page-front,#menu-nav
  border: none
  background: #f9f9f9
  border-top-left-radius: 50%
  border-bottom-left-radius: 50%
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  bottom: 60px
  right: -2px
  width: 40px
  position: fixed
  z-index: 1

#dark-btn
  padding: 12px 17px 12px 13px
  &:before
    content: "\f185"
    font-family: font-icon
    font-size: 14px

#go-page-front
  padding: 12px 15px
  bottom: 14px
  display: none
  &:before
    content: "\f102"
    font-family: font-icon
    font-size: 14px

#menu-nav
  bottom: 106px
  padding: 12px 15px
  &:before
    content: "\f0c9"
    font-family: font-icon
    font-size: 14px